[Unit]
Description=WebDAV server
Documentation=https://github.com/hacdias/webdav
After=network.target

[Service]
Type=simple
User=www-data
ExecStart=/usr/bin/webdav --config /opt/webdav.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target
